<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0"
        />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="/static/favicon.ico"
        />
        <link rel="stylesheet" href="/static/index.css" />
        <script
            src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"
        ></script>
        <title>LokAI - your self-hosted AI assistant</title>
    </head>
    <body>
        <main class="font-sans">
            <!-- prettier-ignore  -->
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
