<div class="flex max-w-full flex-1 flex-col">
    <div
        class="relative h-full w-full transition-width flex flex-col overflow-hidden items-stretch flex-1"
    >
        <div class="flex-1 overflow-hidden">
            <div class="relative h-full dark:bg-gray-800">
                <div class="h-full w-full overflow-y-auto">
                    <div class="flex flex-col items-center text-sm bg-gray-800">
                        <!-- TODO: keep this div on top of conversation's messages -->
                        <div
                            class="flex w-full items-center justify-center gap-1 border-b p-3 border-gray-900/50 bg-gray-700 text-gray-300"
                        >
                            Model:
                            <!-- prettier-ignore -->
                            <b>{{ crate::LOKAI_DEFAULT_LLM_MODEL.to_string() }}</b>
                            Server:
                            <p id="server-state">...</p>
                        </div>
                        {% block messages %}{% endblock %}
                        <div class="w-full h-32 flex-shrink-0"></div>
                        <div
                            id="bottom-of-msgs"
                            _="
                            on htmx:wsAfterMessage from #user-prompt-div or load
                                js(me)
                                    me.scrollIntoView(true);
                                end
                            "
                        ></div>
                    </div>
                    <div
                        class="flex flex-col items-center text-sm bg-gray-800"
                    ></div>
                </div>
            </div>
        </div>
        {% include "chat_area/prompt.html" %}
    </div>
</div>
