<div
    class="flex flex-col absolute bottom-0 right-0 w-full bg-gradient-to-b from-transparent to-10% to-gray-800 p-2"
>
    <div
        id="user-prompt-div"
        hx-ext="ws"
        ws-connect="/ws"
        class="flex flex-col w-full px-10 py-2 place-content-center place-items-center"
        _="
        on htmx:wsOpen
            set #server-state's innerText to 'connected!'
        "
    >
        <!-- TODO: define helper function for resetting height of textarea -->
        <!-- TODO: it might be easier to write JS function for handling submit -->
        <form
            id="user-prompt-form"
            class="relative flex flex-1 flex-row h-full w-3/4 items-stretch text-white"
            ws-send
            hx-disabled-elt="textarea, button"
            _="
            on submit
                set #user-prompt-ta.value to '' then
                trigger keyup on #user-prompt-ta
            "
        >
            <div
                class="flex flex-col w-full flex-grow border border-gray-900/10 bg-gray-700 rounded-md shadow-[0_0_15px_rgba(0,0,0,0.10)]"
            >
                <!-- TODO: show red ring on empty prompt submit attempt -->
                <!-- TODO: show blue ring on focus -->
                <!-- Use px notation in Tailwind to make it easier to use correct values in _hyperscript -->
                <!-- 208px equals 52 units in Tailwind -->
                <textarea
                    id="user-prompt-ta"
                    name="user_prompt"
                    type="text"
                    placeholder="Message LokAI..."
                    autofocus="autofocus"
                    required
                    class="m-0 w-full resize-none border-0 my-2 pr-10 bg-transparent pl-2 h-[24px] max-h-[208px] overflow-y-auto"
                    _="
                    on keyup
                        event.preventDefault()
                        set *height to 24 px
                        if event's code is 'Enter' and not event's shiftKey
                            if #user-prompt-btn.disabled and my value.trim() === ''
                                set my value to ''
                            otherwise
                                set my value to my value.trim()
                                trigger submit on #user-prompt-form
                            end
                        otherwise
                            measure my scrollHeight
                            if scrollHeight > 208
                                set *height to 208 px
                            otherwise
                                set *height to scrollHeight px
                            end
                            if my value.trim() === ''
                                add @disabled to #user-prompt-btn
                            otherwise
                                remove @disabled from #user-prompt-btn
                            end
                    "
                ></textarea>
            </div>
            <div class="absolute flex flex-1 bottom-0 right-0 p-1">
                <button
                    id="user-prompt-btn"
                    class="p-1 rounded-md bg-transparent disabled:bg-gray-500 disabled:opacity-40"
                    disabled
                    type="submit"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-send"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 14l11 -11" />
                        <path
                            d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
                        />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="text-center text-xs text-white/50 p-1 w-full">
        <span>Enjoy your self-hosted LokAI!</span>
    </div>
</div>
