<div
    class="absolute bottom-0 left-0 w-full border-t border-transparent bg-vert-light-gradient !bg-transparent bg-vert-dark-gradient pt-2 flex flex-col"
>
    <div
        hx-ext="ws"
        ws-connect="/ws"
        class="flex flex-col w-full px-10 place-content-center place-items-center"
    >
        <form
            id="user-prompt-form"
            class="relative flex flex-1 flex-row h-full w-3/4 items-stretch text-white"
            ws-send
            _="on submit
                set #user-prompt-ta.value to ''
                then add @disabled to #user-prompt-btn"
        >
            <div
                class="flex flex-col w-full py-2 flex-grow border border-gray-900/50 bg-gray-700 rounded-md shadow-[0_0_15px_rgba(0,0,0,0.10)]"
            >
                <!-- TODO: I need to enable button not only when the input is empty, but also when htmx:afterSettle-->
                <!-- TODO: implement nice focus -->
                <textarea
                    id="user-prompt-ta"
                    name="user_prompt"
                    type="text"
                    placeholder="Message LokAI..."
                    class="m-0 w-full resize-none border-0 p-0 pr-10 bg-transparent pl-2 h-[24px] max-h-[216px] overflow-y-auto"
                    _="
                    on input
                        set *height to 24 px
                        then measure my scrollHeight
                        if scrollHeight > 216
                            set *height to 216 px
                        else
                            set *height to scrollHeight px
                        end
                        if my value === ''
                            add @disabled to #user-prompt-btn
                        else
                            remove @disabled from #user-prompt-btn
                        end
                    "
                ></textarea>
            </div>
            <div class="absolute flex flex-1 bottom-0 right-0 p-1">
                <!-- TODO: disable button once htmx ws send event is done -->
                <button
                    id="user-prompt-btn"
                    class="p-1 rounded-md bg-transparent disabled:bg-gray-500 disabled:opacity-40 cursor-pointer"
                    disabled
                    type="submit"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-send"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 14l11 -11" />
                        <path
                            d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
                        />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="text-center text-xs text-white/50 p-2 w-full">
        <span>Enjoy your self-hosted LokAI!</span>
    </div>
</div>
